body {
  font-family: consolas, "Liberation Mono", courier, monospace;
  background-color: #eee;
  margin: 0px;
  color: #444444;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.question-container {
  text-align: center;
  padding: 0px 10px;
}
.answers {
  padding: 20px 40px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.answers:hover {
  opacity: 0.8;
  cursor: pointer;
}
.text-box {
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

/*Utility*/
.m-auto {
  margin: auto;
}
.bg-grey {
  background-color: rgb(160, 160, 160);
}
.bg-green {
  background-color: #8ac926;
}
.bg-red {
  background-color: #f0171e;
}
.bg-blue {
  background-color: rgb(127, 219, 255);
}

/* buttons */
.btn {
  display: inline-block;
  padding: 5px 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 3px solid #444444;
  background-color: #eee;
  color: #444444;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
  background-color: #444444;
  color: #eee;
}

/*Navbar css*/
#nav {
  background-color: #444444;
  color: #d5d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 20px;
}
#nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  padding: 3px 5px 0px 5px;
  margin-left: 20px;
  background: #d5d5d5;
  color: #444444;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
.logo:hover {
  opacity: 0.7;
}
#icon-container {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}
.profile-icon-link {
  margin: auto;
  width: 35px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
}
.profile-icon-link:hover {
  opacity: 0.7;
}

/*
Colors
$red: #ff595e;
$yellow: #ffca3a;
$green: #8ac926;
$blue: #1982c4;
$purple: #6a4c93;
$steel: #eeeeee;
*/
